@mixin socials {
  .socials {
    display: flex;
    justify-content: center;

    &-link {
      margin: 1rem;
      padding: 1rem;
      text-decoration: none;
      color: $color-font-dirty-white;
      transition: color 0.3s, text-shadow 0.3s;
      &:hover {
        color: $color-white;
        text-shadow: 0 0 5px rgba($color-white, 0.8);
      }
    }
    &-icon {
      font-size: 2.5rem;
    }
  }
}

// PRICE TABLE

.table {
  margin: 4rem auto;
  border: 2px solid black;
  border-collapse: collapse;
  font-size: 1.4rem;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
  @media (min-width: 600px) {
    font-size: 1.6rem;
  }

  &__head {
    padding: 0.5rem;
    border-bottom: 2px solid black;

    tr {
      background-color: rgba($color-secondary, 0.4);
    }
  }

  &__cell {
    padding: 0.5rem;
    @media (min-width: 600px) {
      padding: 1rem;
    }

    &:first-of-type {
      border-right: 2px solid black;
    }
  }

  &__row {
    &:nth-child(even) {
      background-color: rgba($color-secondary, 0.4);
    }
  }
}

.goUpBtn {
  display: none;
  position: fixed;
  right: 1rem;
  bottom: 4rem;
  height: 5rem;
  width: 5rem;
  border: 1px solid rgba($color-white, 0.6);
  border-radius: 50%;
  font-size: 2rem;
  background-color: rgba($color-secondary, 0.7);

  &__link {
    display: inline-block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &:visited,
    &:focus,
    &:link {
      color: $color-primary;
    }
  }
}
