@mixin socials {
  .socials {
    display: flex;
    justify-content: center;

    &-link {
      margin: 1rem;
      padding: 1rem;
      text-decoration: none;
      color: $color-font-dirty-white;
      transition: color 0.3s, text-shadow 0.3s;
      &:hover {
        color: $color-white;
        text-shadow: 0 0 5px rgba($color-white, 0.8);
      }
    }
    &-icon {
      font-size: 2.5rem;
    }
  }
}

// PRICE TABLE

.table {
  margin: 4rem auto;
  border: 2px solid black;
  border-collapse: collapse;
  font-size: 1.4rem;

  &__head {
    padding: 0.5rem;
    border-bottom: 2px solid black;

    tr {
      background-color: rgba($color-secondary, 0.4);
    }
  }

  &__heading {
  }

  &__cell {
    padding: 0.5rem;

    &:first-of-type {
      border-right: 2px solid black;
    }
  }

  &__row {
    &:nth-child(even) {
      background-color: rgba($color-secondary, 0.4);
    }
  }
}
