// NAVIGATION
.navigation {
  width: 100%;
  height: $navigationHeight;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: $color-primary;
  text-align: right;

  &__phone {
    flex: 1;
    margin-right: 3rem;
  }

  &__logo {
    display: flex;
    align-items: center;
    color: $color-secondary;
    @media (min-width: 600px) {
      font-size: 2rem;
    }

    &-img {
      width: 3rem;
      height: 3rem;
      @media (min-width: 600px) {
        width: 3.5rem;
        height: 3.5rem;
      }
    }
  }

  &__toggleBtn {
    padding: 1rem;
    font-size: 2rem;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}

.nav {
  position: fixed;
  left: 0;
  width: 100%;
  height: calc(100vh - #{$navigationHeight});
  transform: translateX(100%);
  text-align: center;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  @media (min-width: 1028px) {
    left: 50%;
  }
  @media (min-width: 1800px) {
    left: 70%;
  }

  &__white {
    top: $navigationHeight;
    background-color: $color-white;
    transition-delay: 0.2s;
    @media (min-width: 1028px) {
      width: 100%;
    }
    &.visible {
      transition-delay: 0.2s;
    }
  }
  &__yellow {
    position: absolute;
    left: 0;
    margin-left: 2rem;
    background-color: $color-secondary;
    transition-delay: 0.2s;
    @media (min-width: 1028px) {
      width: 100%;
    }

    &.visible {
      transition-delay: 0.4s;
    }
  }

  &__black {
    margin-left: 2rem;
    position: absolute;
    right: 0;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $color-primary;
    transition-delay: 0.2s;
    @media (min-width: 1028px) {
      width: 50%;
      position: absolute;
      left: 0;
    }
    @media (min-width: 1800px) {
      width: 30%;
    }
    &.visible {
      transition-delay: 0.6s;
    }
  }

  &__menu {
    list-style: none;
  }

  &__item {
    margin: 2rem 0;
  }

  &__link {
    font-size: 2rem;
    text-transform: uppercase;
    color: $color-font-dirty-white;
    text-decoration: none;
    transition: color 0.3s, text-shadow 0.3s;
    &:hover {
      color: $color-white;
      text-shadow: 0 0 5px rgba($color-white, 0.8);
    }
  }

  &.visible {
    transform: translateX(0);
  }
}

@include socials;
