// TESTIMONIALS

.testimonials {
  background-image: linear-gradient(rgba(226, 218, 109, 0.8)),
    url("/img/background-testimonials.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10rem 4rem;

  &__container {
    display: flex;
  }

  &__heading-small {
    margin: 5rem;
    text-align: center;
    color: $color-white;
    font-size: 2.2rem;
    font-weight: 400;
  }

  &__card {
    width: 300px;
    padding: 2rem;
    margin: 0 2rem;
    text-align: center;
    background-color: $color-white;
    &-heading {
      margin-bottom: 2rem;
    }

    &-text {
      font-size: 1.2rem;
    }

    &-img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      object-fit: cover;
    }

    &-user {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
    }

    &-data {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem;
      font-size: 1rem;
    }

    &-name {
      font-weight: 700;
    }

    &-location {
    }
  }
}
