// TESTIMONIALS

.testimonials {
  background-image: linear-gradient(rgba(193, 197, 124, 0.884) 100%),
    url("/img/background-testimonials.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10rem 4rem;

  &__heading-small {
    margin: 5rem;
    text-align: center;
    color: $color-white;
    font-size: 2.2rem;
    font-weight: 400;
  }

  &__card {
    position: relative;
    width: 300px;
    min-height: 260px;
    padding: 2rem;
    margin: 0 2rem;
    text-align: center;
    @media (min-width: 480px) {
      min-height: 200px;
    }
    background-color: $color-white;
    @media (min-width: 768px) {
      min-height: 312px;
    }
    @media (min-width: 1028px) {
      min-height: 260px;
    }
    @media (min-width: 1228px) {
      min-height: 400px;
    }
    @media (min-width: 1300px) {
      min-height: 360px;
    }
    @media (min-width: 1400px) {
      min-height: 300px;
    }
    @media (min-width: 1500px) {
      min-height: 400px;
    }
    @media (min-width: 1700px) {
      min-height: 340px;
    }

    &-heading {
      margin-bottom: 2rem;
    }

    &-text {
      font-size: 1.2rem;
    }

    &-img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      object-fit: cover;
    }

    &-user {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
      width: 100%;
      position: absolute;
      bottom: 2rem;
      left: 50%;
      transform: translateX(-50%);
      @media (min-width: 1228px) {
        margin-top: 2rem;
      }
      @media (min-width: 1300px) {
      }
    }

    &-data {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem;
      font-size: 1rem;
    }

    &-name {
      font-weight: 700;
    }
  }
}
